.sponsor-page-container {
    display: block;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    color: white;
}

.sponsor-page-section h1 {
    text-align: center;
    width: 100%;
    font-size: 3.5em;
    font-weight: 700;
    margin: 5% 0;
}

.sponsor-page-section h3 {
    font-size: 2em;
    margin: 3% 0;
    font-weight: 700;
    color: white;
}

.main-container {
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 10%;
    text-align: left;
}

#main-message {
    text-align: left;
    width: 100%;
    font-size: 4em;
    font-weight: 700;
    color: var(--shell-mid-brown);
    margin: 5% 0;
}

.main-container p {
    color: var(--shell-mid-brown);
    font-size: 1.5em;
    margin: 3% 0;
    font-weight: 500;
    opacity: 0.7;
}

.what-section {
    width: 60%;
    text-align: left;
    align-self: flex-end;
}

.why-cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.why-cards p {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 130%;
}

.why-cards {
    display: flex;
    width: 25%;
    min-width: 250px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

.why-cards span svg {
    font-size: 100px;
}

.why-cards h3 {
    margin: 10px;
}

.sponsor-stats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.sponsor-stats h1 {
    margin: 0;
}

.sponsor-card {
    margin: 10%;
}

.sponsor-stats-item {
    text-align: left;
    width: 40%;
    max-width: 100%;
    min-height: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2%;
}

.sponsor-stats-item p {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 130%;
}

.stats-img {
    width: 40%;
    margin: 0 5% 0 0;
    height: auto;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.past-images {
    width: 30%;
    height: auto;
    margin: 2.5% 0;
}

.video-react {
    margin: 2.5% 0;
}

.past-images img {
    width: 100% !important;
}

.sponsors-partners {
    width: 100%;
}

.sponsor-card-scroll-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sponsor-logo-card {
    width: 10%;
    height: auto;
    margin: 2%;
}

.sponsor-logo-card:hover {
    opacity: 0.95;
    /* border-bottom: 1px solid var(--shell-teal); */
    cursor: pointer;
}

#closing-message {
    width: 100%;
    padding: 0 10%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

.video-react .video-react-big-play-button {
    top: 45%;
    left: 45%;
}


/* not the idea here 8= */

#closing-message a {
    all: inherit;
    cursor: pointer;
    text-decoration: underline;
}

#closing-message a:hover {
    color: var(--shell-light-pink);
}

@media only screen and (max-width: 769px) {
    .what-section {
        width: 100%;
    }
    .sponsor-logo-card {
        width: 25%;
        margin: 2%;
    }
    .sponsor-card-scroll-container {
        height: auto;
        overflow: hidden;
    }
    .why-cards span svg {
        font-size: 70px;
    }
    .video-react .video-react-big-play-button {
        top: 40%;
        left: 35%;
    }
    .sponsor-page-section h1 {
        font-size: 2.5em;
        margin: 5% 0;
    }
    .sponsor-page-section h3 {
        font-size: 1.5em;
    }
    .what-section p,
    .what-section h1 {
        margin: 5% 0;
    }
    .main-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .main-container p {
        width: 100%;
    }
    #main-message {
        font-size: 2.5em;
    }
    .what-section p,
    .what-section h1 {
        width: 100%;
    }
    .why-cards {
        width: 100%;
        margin: 10% 0;
    }
    .sponsor-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }
    .sponsor-stats-item {
        width: 100%;
        justify-content: flex-start;
    }
}