
.landing-gradient {
  background: var(--shell-gradient);
  overflow: hidden;
}

.landing-button-wrapper {
  width: 25vw;
  max-width: 350px;
  min-width: 150px;
  margin-left: 1%;
  margin-right: 1%;
}

.scroll {
  width: 100vw;
}
@media only screen and (max-width: 769px) {
  .landing-button-wrapper {
    width: 30%;
    max-width: unset;
    min-width: unset;
  }
}

/* @media only screen and (max-width: 568px) {
    .landing-section-paragraph {
        text-align: left;
    }
    .landing-button-wrapper {
        margin-right: 1%;
        margin-left: 1%;
    }
} */
