.about-container
{
    position: relative;
}

.info-section-container {
  width: 60%;
  text-align: left;
  align-self: flex-end;
}

.pink-dolphin {
  position: absolute;
  margin: 100px;
  width: 250px;
  display: block;
  left: 0px;
}

.blue-dolphin {
  position: absolute;
  width: 250px;
  display: block;
  left: 300px;
}

.blue-dolphin img,
.pink-dolphin img {
  animation: bobbing 1s infinite alternate;
  position: relative;
}

.blue-dolphin img {
  animation-delay: 0.5s;
}

@media only screen and (max-width: 900px) {
  .info-section-container {
    width: 100%;
  }

  .pink-dolphin
  {
      margin: unset;
      left: 32vw;
      transform: rotate(-10deg);
  }

  .blue-dolphin
  {
      right: 32vw !important;
      transform: rotate(20deg);
  }

  .blue-dolphin,.pink-dolphin
  {
      top: 0vw;
      width: 20vw
  }

}

@media only screen and (max-width: 1300px)
{
    .blue-dolphin
    {
        right: 58vw;
        left: unset;
    }

    .pink-dolphin
    {
        z-index: 1;
    }
}

@keyframes bobbing {
  from {
    bottom: 0px;
  }
  to {
    bottom: 35px;
  }
}
