.info-section-container {
  width: 60%;
  text-align: left;
  align-self: flex-end;
}

.pink-dolphin {
  position: absolute;
  margin: 100px;
  width: 250px;
  display: block;
  left: 0px;
}

.blue-dolphin {
  position: absolute;
  width: 250px;
  display: block;
  left: 300px;
}

.blue-dolphin img,
.pink-dolphin img {
  animation: bobbing 1s infinite alternate;
  position: relative;
}

.blue-dolphin img {
  animation-delay: 0.5s;
}

@media only screen and (max-width: 568px) {
  .info-section-container {
    width: 100%;
  }

  .blue-dolphin,
  .pink-dolphin {
    display: none;
  }
}

@keyframes bobbing {
  from {
    bottom: 0px;
  }
  to {
    bottom: 35px;
  }
}
