.info-section-container {
    width: 60%;
    text-align: left;
    align-self: flex-end;
}

@media only screen and (max-width: 568px) {
    .info-section-container {
        width: 100%;
    }
}