.schedule-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.schedule-button-container-mobile {
    display: none;
}

.schedule-section-event {
    text-align: left;
    margin: 25px 15px 50px;
}

.schedule-section-event-title {
    font-weight: 600;
    font-size: var(--heading);
    color: white;
}

.schedule-section-event-description {
    font-size: var(--sub-heading);
}

.schedule-container {
    width: 73%;
    align-self: flex-end;
}

.faqCardContainer {
    width: 80vw;
}

.tracks-container {
    width: 100%;
}

.trackDesc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.shell {
    height: 30px;
    margin-right: 10%;
    margin-left: 20%;
}

.shell-and-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.octopus img{
    position: absolute;
    width: 400px;
    display: block;
    left: 0px;
    margin-top: 300px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@media only screen and (max-width: 769px) {
    .schedule-button-container-mobile {
        display: flex;
    }
    .schedule-button-container {
        display: none;
    }
    .schedule-button-container-mobile {
        display: flex;
        justify-content: space-between;
    }
    .schedule-button-container-mobile .submit-button {
        width: 30%;
    }
}