.thanks-conatainer {
    width: 80%;
}

.social-media-container {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
}

.social-media-container a {
    color: white;
}

.social-media-container .svg-inline--fa {
    margin: 0 8px 15px;
}

.sites-container {
    margin: 40px 0 0;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.sites-container a {
    text-decoration: none;
    color: white !important;
    width: 30%;
    margin: 2%;
}
@keyframes angler_fish-right {
    0%{
        left: -300px;
        transform: scaleX(-1);
    }
    50% {
        left: calc(100vw + 300px);
        transform: scaleX(-1);
    }
    51%{
        transform: scaleX(1);
    }
    100% {
        left: -300px;
        transform: scaleX(1);
    }
}

.angler_fish img{
    width: 100px;
    display: block;
    position: relative;
    right: 100px;
    animation: angler_fish-right 38s infinite;
    animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 769px) {
    .social-media-container {
        justify-content: center;
        margin-bottom: 5px;
    }
    .thanks-conatainer {
        width: 100%;
    }
    .sites-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .sites-container a {
        width: 40%;
    }
}