.no-match {
    padding: 40px;
    text-align: center;
    color: var(--shell-dark-brown);
    margin: auto;
    z-index: 10;
}

.no-match h1 {
    margin-bottom: 30px;
}

.no-match p,
.link {
    font-weight: bold;
    color: var(--shell-light-brown);
}

.link {
    margin: 0 10px;
}

.link:hover {
    color: var(--shell-light-pink) !important;
}