:root {
    --waves-speed: 3s;
    /* Colours */
    --shell-dark-pink: #ff1d8e;
    --shell-light-pink: #e86ba4;
    --shell-teal: #22c3d5;
    --shell-navy: #172a61;
    --shell-sand: #fbedca;
    --shell-dark-brown: #665b50;
    --shell-mid-brown: #8e7a69;
    --shell-light-brown: #9e8d7d;
    --shell-gradient: linear-gradient(#22c3d5, #172a61);
    /* line heights */
    --line-height-xsmall: 1.5384615em;
    --line-height-small: 1.25em;
    --line-height-large: 1.375em;
    --paragraph-height: 1.5em;
    /* Mobile */
    --paragraph: 14px;
    --sub-heading: 1.4rem;
    --heading: 1.8rem;
    --heading-bg: 2rem;
}

@media screen and (min-width: 800px) {
    /* Desktop */
     :root {
        --paragraph: 1.2rem;
        --sub-heading: 1.777rem;
        --heading: 2.369rem;
        --heading-bg: 3.157rem;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    /* Tablets */
     :root {
        --paragraph: 1.2rem;
        --sub-heading: 1.777rem;
        --heading: 2.369rem;
        --heading-bg: 3.157rem;
    }
}

section {
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10%;
}

section h1 {
    color: white;
    margin: 50px 0px;
    text-align: center;
    width: 100%;
}

* a:hover {
    cursor: pointer;
}

.links {
    color: var(--shell-sand);
    text-decoration: underline;
}

h1 {
    font-size: var(--heading-bg);
    font-weight: 900;
    line-height: var(--line-height-small);
}

h2 {
    font-size: var(--heading);
    font-weight: 700;
    line-height: var(--line-height-small);
}

h3 {
    font-size: var(--sub-heading);
    font-weight: 600;
}

h4 {
    font-size: var(--paragraph);
    line-height: var(--paragraph-height);
    font-weight: 400;
}

p {
    font-size: var(--paragraph);
    line-height: var(--paragraph-height);
    font-weight: 500;
}

.hover-effect:hover {
    background-color: var(--shell-dark-pink);
    color: white;
}

.dashboard-card {
    background-color: var(--shell-dark-brown);
}

.active-dashboard-card {
    background-color: var(--shell-light-brown);
}

.landing-card {
    background-color: var(--shell-teal);
}

.active-landing-card {
    background-color: var(--shell-light-pink);
}